
.footer {
    background-color: #26bbdf; // Background color
    color: #fff; // White text
    padding: 1.5rem 0;
    margin-top: 50px;
  
    .contact-info {
      font-size: 1rem;
      margin: 0;
      color: #fff;
  
      a {
        color: #fff; // White links
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    .copyright {
      font-size: 0.9rem;
      margin-top: 0.5rem;
      color: #fff;
    }
  
    .container {
      text-align: center;
    }
  }
  