<footer class="footer">
    <div class="container">
      <!-- Email and Phone Section -->
      <div class="row">
        <div class="col text-center">
          <p class="contact-info">
            <strong>Email: </strong> <a href="mailto:support@talaqii.com">{{'support@talaqii.com'}}</a>
            | 
            <strong>Phone: </strong> <a href="tel:+962798257523">00962798257523</a>
          </p>
        </div>
      </div>
      <!-- Copyright Section -->
      <div class="row">
        <div class="col text-center">
          <p class="copyright">
            &copy; {{currentYear}} Talaqi. All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </footer>